* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 72px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(158, 233, 229);
}

#root {
    width: 800px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
    padding: 0px 5px 10px 5px;
    border: 3px solid black;
    border-radius: 3px;
}

.team-header {
    font-size: 50px;
    text-align: center;
    margin: 0px;
    font-variant: small-caps;
}

.logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
}

.shoot {
    width: 100%;
    margin-top: 8px;
}

.arena {
    display: flex;
    justify-content: space-between;
}

.seperator {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
