* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 72px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(233, 226, 158);
}

button {
    width: 100%;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(245, 245, 167);
    background-color: rgb(185, 185, 8);
}

#root {
    width: 800px;
}

.game h1 {
    margin: 10px 0px;
}

.game > button {
    margin-top: 5px;
    font-size: 50px;
}

.team {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
    padding: 0px 5px 8px 5px;
    border: 3px solid black;
    border-radius: 3px;
}

.team h4 {
    margin: 0px;
    text-align: center;
    text-decoration: underline;
}

.team h2 {
    font-size: 50px;
    text-align: center;
    margin: 0px;
    font-variant: small-caps;
}

.team img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
}

.arena {
    display: flex;
    justify-content: space-between;
}

.arena span {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
